.pricing {

    width: 50%;
    float: left;

    .pricing-box {
      background: #ccc;
      margin: 10px;
      border: 1px solid #ddd;

      .title {
        font-size: 34px;
        text-align: center;
        font-weight: bold;
      }

      .info {
        font-size: 24px;
      }

      .price {
        text-align: center;
      }

    }
}